version: '3'

volumes:
  db-volume:
  crud_vendor:
  auth_vendor:
  gateway_vendor:

services:
  db:
    build:
      context: ../db
      dockerfile: Dockerfile
      args:
        MYSQL_DATABASE: "${MYSQL_DATABASE:-db}"
        MYSQL_USER: "${MYSQL_USER:-homestead}"
        MYSQL_PASSWORD: "${MYSQL_PASSWORD:-secret}"
        MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD:-secret}"
        SYSTEM_TZ: "${SYSTEM_TZ:-Europe/Kiev}"
    environment:
      TZ: "${SYSTEM_TZ:-Europe/Kiev}"
    ports:
      - 3306:3306
    volumes:
      - db-volume:/var/lib/mysql2

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    links:
      - db
    environment:
      MYSQL_USER: "${MYSQL_USER:-homestead}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD:-secret}"
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD:-secret}"
      TZ: "${SYSTEM_TZ:-Europe/Kiev}"
    ports:
      - 8080:80

  baseimg:
    build:
      context: images/base
      dockerfile: Dockerfile
      args:
        SYSTEM_TZ: "${SYSTEM_TZ:-Europe/Kiev}"
    image: baseimg

  crud:
    build:
      context: ../crud
      dockerfile: ../docker/images/symfony/Dockerfile
    env_file:
      - ../crud/.env
    environment:
      SALT: "${SALT:-secureSalt}"
    depends_on:
      - db
    ports:
      - 8081:80
    volumes:
      - ../crud:/var/www/html
      - crud_vendor:/var/www/html/vendor

  auth:
    build:
      context: ../auth
      dockerfile: ../docker/images/symfony/Dockerfile
    env_file:
      - ../auth/.env
    environment:
      SALT: "${SALT:-secureSalt}"
      CRUD_HOST: "${CRUD_HOST:-http://crud}"
    depends_on:
      - db
    ports:
      - 8082:80
    volumes:
      - ../auth:/var/www/html
      - auth_vendor:/var/www/html/vendor

  gateway:
    build:
      context: ../gateway
      dockerfile: ../docker/images/symfony/Dockerfile
    env_file:
      - ../gateway/.env
    environment:
      CRUD_HOST: "${CRUD_HOST:-http://crud}"
      AUTH_HOST: "${AUTH_HOST:-http://auth}"
    depends_on:
      - db
    ports:
      - 80:80
    volumes:
      - ../gateway:/var/www/html
      - gateway_vendor:/var/www/html/vendor
